html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;

  font-family: "Roboto", sans-serif;

  background: rgb(252, 176, 69);
  background: linear-gradient(
    180deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 104, 29, 0.9605568445475638) 50%,
    rgba(193, 18, 31, 0.7315301120448179) 100%
  );
}

main {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;

  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 20rem;
}

.titulo-principal__logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-items: center;

  width: 25rem;
  background-color: #f5f3f4;
  padding: 1.5rem;
  border: 2px solid #eeee;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.pokemon-card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pokemon-card {
  transition: transform 0.2s ease-in-out;
}

.bg-pokemon {
  height: 20rem;
}

.idPokemon {
  font-size: 2.4rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0PX;
}

.pokemon-name {
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 2rem;
}
